## Medical Data Visualizer

In this project, you will visualize and make calculations from medical examination data using matplotlib, seaborn, and pandas. The dataset values were collected during medical examinations.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("medical_examination.csv")
df.head(10)

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0

## Tasks

Create a chart similar to examples/Figure_1.png, where we show the counts of good and bad outcomes for the cholesterol, gluc, alco, active, and smoke variables for patients with cardio=1 and cardio=0 in different panels.

Use the data to complete the following tasks in medical_data_visualizer.py:

- Add an overweight column to the data. To determine if a person is overweight, first calculate their BMI by dividing their weight in kilograms by the square of their height in meters. If that value is > 25 then the person is overweight. Use the value 0 for NOT overweight and the value 1 for overweight.

In [3]:
# first we calculate the bmi
df['BMI'] = (df['weight']/(df['height']/100)**2).round(1)

# them calculate the overweight
df['overweight'] = np.where(df['BMI'] > 25, 1, 0)
#df.loc[df['BMI'] > 25, 'overweight'] = 1
#df.loc[df['BMI'] <= 25, 'overweight'] = 0

df.head(10)

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,22.0,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.9,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.5,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.7,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0,29.4,1
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0,37.7,1
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1,30.0,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0,28.4,1
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0,25.3,1

- Normalize the data by making 0 always good and 1 always bad. If the value of cholesterol or gluc is 1, make the value 0. If the value is more than 1, make the value 1.

In [4]:
df['cholesterol'] = np.where(df['cholesterol'] == 1, 0, 1)
df['gluc'] = np.where(df['gluc'] == 1, 0, 1)

df.head(10)

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI,overweight
0,0,18393,2,168,62.0,110,80,0,0,0,0,1,0,22.0,0
1,1,20228,1,156,85.0,140,90,1,0,0,0,1,1,34.9,1
2,2,18857,1,165,64.0,130,70,1,0,0,0,0,1,23.5,0
3,3,17623,2,169,82.0,150,100,0,0,0,0,1,1,28.7,1
4,4,17474,1,156,56.0,100,60,0,0,0,0,0,0,23.0,0
5,8,21914,1,151,67.0,120,80,1,1,0,0,0,0,29.4,1
6,9,22113,1,157,93.0,130,80,1,0,0,0,1,0,37.7,1
7,12,22584,2,178,95.0,130,90,1,1,0,0,1,1,30.0,1
8,13,17668,1,158,71.0,110,70,0,0,0,0,1,0,28.4,1
9,14,19834,1,164,68.0,110,60,0,0,0,0,0,0,25.3,1

- Convert the data into long format and create a chart that shows the value counts of the categorical features using seaborn's catplot(). The dataset should be split by 'Cardio' so there is one chart for each cardio value. The chart should look like examples/Figure_1.png.